
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  background-image: url('backgrounds/BPC_BG_Tile_white.png');
  background-blend-mode: soft-light;
  background-size: 20%;
  background-repeat: repeat;
  background-attachment: fixed;
  color: #191118;
/*
#f1efff;
background-color: #4f3945;
*/
  background-color: #191118;
  text-shadow: -1px 0 #ff2828, 0 1px #ff2828, 1px 0 #ff2828, 0 -1px #ff2828;
}

.layout {
  display: grid;
  width: 98vw;
  height: 100vh;
  grid-template-areas: "header"
                       "subtitle"
                       "menu"
                       "content"
                       "menu2"
                       "footer";
  justify-items: center;
  grid-row-gap: 5px;

}

.header {
  grid-area: header;
  font-size: 40px;
  font-weight: bold;

}

.subtitle {
  grid-area: subtitle;
  font-size: 15px;
}

.menu {
  grid-area: menu;
  background-color: transparent;
  font-size: 20px;
  display: inline-grid;
  grid-template-areas: "first previous next last";
  width: 40vw;
  justify-content: space-around;
  text-align: center;
}

.menu2 {
  grid-area: menu2;
  background-color: transparent;
  font-size: 20px;
  display: inline-grid;
  grid-template-areas: "first previous next last";
  width: 40vw;
  justify-content: space-around;
  text-align: center;
}

.opt {

}

.first {
  grid-area: first;
}

.previous {
  grid-area: previous;
}

.next {
  grid-area: next;
}

.last {
  grid-area: last;
}

.content {
  grid-area: content;
  background-color: transparent;

}

.page {
  max-width: 75vw;

}

.footer {
  grid-area: footer;
  background-color: transparent;
  font-size: 12px;
}
